doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title= title
    meta( name="description" content="")
    meta( name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes" )
    link( rel='stylesheet', href='/stylesheets/main.min.css' )
    script( src="/components/webcomponentsjs/webcomponents-lite.min.js" )
    link( rel="import" href="/webcomponents/polymer.html" )
  body.unresolved
    nav
      div.nav-wrapper.red
        i.mdi-image-flash-on.left.text-yellow
        a.brand-logo.waves-effect(href='/')= "Project Mercury"
        i.mdi-image-flash-on.right.text-yellow
    div.container
      block content
      //- script(src='/components/jquery/dist/jquery.min.js')
      //- script(src='/components/materialize/dist/js/materialize.min.js')
      script( src="/javascripts/app.min.js" )
