extends layout

block content
  br
  a.waves-effect.btn( href="/") < back
  h3= title

  div.collection
    each app in appNames.sort()
      a.collection-item.waves-effect( href='/perf/#{app}')= app
