body
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/

a
  color: #00B7FF

.collapsible
  margin: 0

.collapsible .collapsible
  padding-left: 1.5em
  padding-right: 1.5em
  border-left: 0 transparent
  border-right: 0 transparent
  -webkit-box-shadow: none
  box-shadow: none

.collapsible .collapsible:first-of-type
  border-top: 0 transparent

.collapsible .collapsible:last-of-type
  border-top: 0 transparent
