<polymer-element name="perf-metrics" atrributes="data">
  <template>
    <!-- shadow DOM here -->
    <link rel="stylesheet" type="text/css" href="/components/materialize/dist/css/materialize.min.css">
    <style>
    </style>
    <div class="container">
      <table class="striped col s6">
        <tbody>
          <template repeat="{{ key in filterKeys(data) }}">
            <!-- <template if="{{ notEmpty(data[key]) }}"> -->
              <tr>
                <td><strong>{{key}}: </strong></td>
                <td>{{ data[key] }}</td>
              </tr>
            <!-- </template> -->
          </template>
        </tbody>
      </table>
    </div>
  </template>
  <script>
    Polymer('perf-metrics',{
      // properties and methods here
      publish: {
        data: {}
      },
      ready: function() {
        // console.log('data',this.data);
      },
      isArray: function(o) {
        return typeof o == "array" || (typeof o == "object" && o.constructor === Array);
      },
      attributeChanged: function(attrName, oldVal, newVal) {
        // console.log(attrName, 'old: ' + oldVal, 'new:', newVal);
      },
      filterKeys: function(object) {
        return Object.keys(object);
      },
      stringify: function(json){
        return JSON.stringify(json)
      },
      notEmpty: function(val) {
        return val !== '' && val !== 'undefined' && val !== null && val !== [] && val !== {};
      }
    });
  </script>
</polymer-element>