<link rel="import" href="/components/polymer/polymer.html">

<dom-module id="perf-metrics">
  <style>
  </style>
  <template>
    <!-- shadow DOM here -->
    <div class="container">
      <table class="striped col s6">
        <tbody>
          <template is="dom-repeat" items="{{_toArray(data)}}">
            <!-- <template if="{{ notEmpty(data[key]) }}"> -->
              <tr>
                <td><strong><span>{{item.name}}</span>: </strong></td>
                <td>{{item.value}}</td>
              </tr>
            <!-- </template> -->
          </template>
        </tbody>
      </table>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'perf-metrics',
    // properties and methods here
    properties: {
      data: {}
    },
    ready: function() {
      // console.log('data',this.data);
    },
    isArray: function(o) {
      return typeof o == "array" || (typeof o == "object" && o.constructor === Array);
    },
    isString: function(s) {
      return typeof s == 'string';
    },
    attributeChanged: function(attrName, oldVal, newVal) {
    },
    _toArray: function(obj) {
      if(this.isString(obj)) {
        obj = this.unstringify(obj);
      }
      return Object.keys(obj).map(function(key) {
        return {name: key, value: obj[key]};
      });
    },
    stringify: function(json){
      return JSON.stringify(json)
    },
    unstringify: function(s) {
      return JSON.parse(s);
    },
    notEmpty: function(val) {
      return val !== '' && val !== 'undefined' && val !== null && val !== [] && val !== {};
    }
  });
</script>