<link rel="import" href="/components/polymer/polymer.html">

<dom-module id="perf-offenders">
  <style>
    ul {
      margin: 0 auto 1em;
      padding-left: 1em;
    }
    ul ul {
      padding-left: 1em;
    }
    ul li {
      margin-bottom:1em;
    }
    ul.bulleted li{
      list-style-type: square !important;
    }
  </style>
  <template class="container">
    <!-- shadow DOM here -->
    <div class="row">
      <template is="dom-repeat" items="{{_toArray(data)}}">
        <template is="dom-if" if="{{notEmpty(item)}}">
          <div class="col s12">
            <div class="card blue-grey lighten-1 z-depth-2">
              <div class="card-content white-text">
                <span class="card-title">{{item.name}}</span>
                <p>
                  <template is="dom-if" if="{{!isArray(item.value)}}">{{item.name}}</template>
                  <template is="dom-if" if="{{isArray(item.value)}}">
                    <ul class="bulleted">
                      <template is="dom-repeat" items="{{_toArray(item.value)}}">
                        <li class="bulleted">{{item.value}}</li>
                      </template>
                    </ul>
                  </template>
                </p>
              </div>
            </div>
          </div>
        </template>
      </template>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'perf-offenders',
    // properties and methods here
    properties: {
      data: {}
    },
    ready: function() {
      // console.log('data',this.data);
    },
    isArray: function(o) {
      return typeof o == "array" || (typeof o == "object" && o.constructor === Array);
    },
    isString: function(s) {
      return typeof s == 'string';
    },
    attributeChanged: function(attrName, oldVal, newVal) {
    },
    _toArray: function(obj) {
      if(this.isString(obj)) {
        obj = this.unstringify(obj);
      }
      return Object.keys(obj).map(function(key) {
        return {name: key, value: obj[key]};
      });
    },
    filterKeys: function(object) {
      return Object.keys(object);
    },
    stringify: function(json){
      return JSON.stringify(json)
    },
    unstringify: function(s) {
      return JSON.parse(s);
    },
    notEmpty: function(val) {
      console.log('notEmpty:',val);
      return val !== '' && val !== 'undefined' && val !== null;
    }
  });
</script>